body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

main {
  width: 80%;
  margin: auto;
  overflow: auto;
  padding: 20px;
}

h1,
h2,
h6,
p {
  color: #333;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h6 {
  font-size: 1em;
  color: #777;
}

p {
  line-height: 1.6em;
}

img {
  display: block;
  margin: 20px auto;
}
